include helpers/variables
include helpers/mixins
include components/doctype
include components/header
include components/content
include components/footer
include components/menu

include components/breadcrumbs
include components/share-box

+doctype(pages.about.title)
  +menu(menuList, [pages.about.url, pages.about.url])
  .-wrapper
    +header
    +content
      .__columns
        +__column_left
          +breadcrumbs([pages.index, {title: 'Студия', url: pages.about.url}, pages.about])
          header.-header-section._main.visible-md.visible-lg
            .container-fluid
              .row
                .col-sm-10.col-sm-offset-1.col-md-12.col-md-offset-0
                  .h1.-header-section.__title Кто мы
                  .-header-section.__description
                    p Веб-студия «Магвай» помогает заказчикам выстраивать взаимоотношения с целевой аудиторией в Интернете.
                    p Мы разрабатываем веб-проекты и помогаем бизнесу привлекать клиентов с 2009 года.
        main.__column._center
          article.-section
            .container-fluid
              h1.-section.__title НЕСКОЛЬКО ФАКТОВ О НАШЕЙ КОМПАНИИ

              p Создание  идеи. Каждый наш #[+a сайт] – это, прежде всего, оригинальная идея, разработанная специально для заказчика. Разрабатывая идею, мы предлагаем решение - как необычно и ярко представить компанию в сети, не забывая при этом об удобстве пользования сайтом.
              p Реализация идеи в дизайне. Дизайнер рисует макеты страниц сайта, иллюстрирующие эту идею.
              p Программирование сайта. Выбранные вами функциональные возможности воплощаются в готовом продукте. Каждый сайт снабжается удобной системой управления, позволяющие вам самостоятельно вносить изменения на сайт.
              .-ill-box
                .__item
                  +img('files/pics/unsplash_522af9ac823b4_1.jpg').__img
              p Как и с ценой, кнопку покупки делаем бросающейся в глаза. В тексте используют варианты «в корзину», «добавить в корзину», «купить». Мне близок последний вариант, как однозначный и побуждающий к действию.
              p Покупателю сразу показываем варианты доставки, стоимость и сроки. Типичный магазин использует 3 варианта доставки: курьерская, самовывоз из точки доставки, почтой РФ. Каждый вариант можно разделить еще на несколько, но основные эти. Пользователю стоит давать выбор, но не избыточный. Выбирать из 10 вариантов курьерской доставки с разным ценником трудно. Покупателю не интересно с кем из транспортных компаний у вас договор, его интересуют только сроки, цена и какой пункт выдачи ближе.
              blockquote
                p Обратите внимание на ссылку #[strong «Купить в один клик»]. По ней открывается форма, где покупатель заполняет номер телефона и имя. Вариант для тех, кто не разбирается в интернете.
              p Поэтому стоит как можно больше стандартизировать и свести варианты доставки к 2-4 понятным пунктам с одинаковым ценнником внутри одного типа доставки. Если интернет-магазин торгует в одном регионе, варианты доставки и стоимость указываем сразу. Не получается уместить (22 района города и везде разная стоимость доставки) – разворачиваем блок по клику При работе на много регионов, определяем город по ip и выводим данные о доставке для этого населенного пункта.

              hr.-hr._none-margin_bottom
            footer.-footer-section.section__footer
              .container-fluid
                .row
                  .col-sm-6
                  .col-sm-6
                    +share-box
    +footer
