include helpers/variables
include helpers/mixins
include components/doctype
include components/header
include components/content
include components/footer
include components/menu

include components/breadcrumbs
include components/share-box

+doctype(pages.process.title)
  +menu(menuList, [pages.process.url])
  .-wrapper
    +header
    +content
      .__columns
        +__column_left
          +breadcrumbs([pages.index, pages.process])
          header.-header-section._main.visible-md.visible-lg
            .container-fluid
              .row
                .col-sm-10.col-sm-offset-1.col-md-12.col-md-offset-0
                  .h1.-header-section.__title Процесс
                  .-header-section.__description
                    p Веб-студия «Магвай» помогает заказчикам выстраивать взаимоотношения с целевой аудиторией в Интернете.
                    p Мы разрабатываем веб-проекты и помогаем бизнесу привлекать клиентов с 2009 года.
        main.__column._center
          section.-section
            .container-fluid
              h1.-section.__title Этапы разработки сайта

              p Создание  идеи. Каждый наш #[+a сайт] – это, прежде всего, оригинальная идея, разработанная специально для заказчика. Разрабатывая идею, мы предлагаем решение - как необычно и ярко представить компанию в сети, не забывая при этом об удобстве пользования сайтом.
              p Реализация идеи в дизайне. Дизайнер рисует макеты страниц сайта, иллюстрирующие эту идею.
              p Программирование сайта. Выбранные вами функциональные возможности воплощаются в готовом продукте. Каждый сайт снабжается удобной системой управления, позволяющие вам самостоятельно вносить изменения на сайт.

              p &nbsp
              .row
                .col-xs-12.col-sm-4
                  article.-dev-step-item._num_1
                    .__icon 1
                    h3.__title Создание идеи
                    .__description
                      p Каждый наш сайт – это, прежде всего, оригинальная идея, разработанная специально для заказчика.
                .col-xs-12.col-sm-4
                  article.-dev-step-item._num_2
                    .__icon 2
                    h3.__title Дизайн
                    .__description
                      p Дизайнер рисует макеты страниц сайта, иллюстрирующие эту идею.
                .col-xs-12.col-sm-4
                  article.-dev-step-item._num_3
                    .__icon 3
                    h3.__title Программирование
                    .__description
                      p Выбранные вами функциональные возможности воплощаются в готовом продукте.

              p Мы сделаем процесс разработки сайта удобным и комфортным. Мы берем на себя все вопросы, касающиеся регистрации доменного имени, размещения сайта в сети, первоначального наполнения, и его рекламы. Мы предоставляем качественный готовый продукт.
              p Как и с ценой, кнопку покупки делаем бросающейся в глаза. В тексте используют варианты «в корзину», «добавить в корзину», «купить». Мне близок последний вариант, как однозначный и побуждающий к действию.
              p Покупателю сразу показываем варианты доставки, стоимость и сроки. Типичный магазин использует 3 варианта доставки: курьерская, самовывоз из точки доставки, почтой РФ. Каждый вариант можно разделить еще на несколько, но основные эти. Пользователю стоит давать выбор, но не избыточный. Выбирать из 10 вариантов курьерской доставки с разным ценником трудно. Покупателю не интересно с кем из транспортных компаний у вас договор, его интересуют только сроки, цена и какой пункт выдачи ближе.

              hr.-hr._none-margin_bottom
            footer.-footer-section.section__footer
              .container-fluid
                .row
                  .col-sm-6.text-left.hidden-xs
                    +a(pages.services.url).-link._type_undo #[span.__icon.icon.icon-arr-right-2]Вернуться назад
                  .col-sm-6
                    +share-box
    +footer
