.contact-data
  padding 0 0 0 25px
  text-align left
  color #395b77
  font-size 14px
  line-height (18/14)em
  position relative
  margin-bottom 18px
  a
    color #395b77
    text-decoration none
    &:hover, &:focus
      color darken(#395b77, 15)
  &__small
    text-transform uppercase
    color $text-color
    font-size 10px
    font-weight 500
  &__icon
    color $blue-1
    position absolute
    top 0
    left 0
    font-size 18px
    &.icon-map-marker
      font-size 19px
    &.icon-phone
      font-size 19px
    &.icon-microphone
      font-size 19px
