.ol-list
  position relative
  list-style none
  padding-left 20px
  counter-reset lvl1
  >li
    margin 5px 0
    &:before
      counter-increment lvl1
      content counter(lvl1)'.'
      position absolute
      left 0
      color $blue-1
  &_marker
    &_cyr
      >li
        &:before
          content attr(data-marker)'.'
