mixin social()
  // Social
  .-social&attributes(attributes)
    +a.__item.icon.icon-vk(target='_blank' title='VK')
    +a.__item.icon.icon-twitter(target='_blank' title='Twitter')
    +a.__item.icon.icon-be(target='_blank' title='Be')
    +a.__item.icon.icon-r-soc(target='_blank' title='R')
  // /Social