.select-region
  margin-right 25px
  &__selected
    display flex
    cursor pointer
    white-space nowrap
    color white
    text-decoration none
    font-size 14px
    line-height 1em
    &:hover, &:focus
      color white
      text-decoration none
  &__icon
    &.icon-map-marker
      font-size 19px
      color #5682b2
      margin 0 12px 0 0
    &.icon-angle-down
      font-size 6px
      margin 0 0 0 8px