$column_left-width = 400px
.content
  flex-grow 1
  margin-top $header-height
  &__column
    &_left
      .container-fluid
        width 100%
      .filters
        margin 0
  &__title
    text-align center
    margin 30px 0

  @media (min-width $screen-md-min)
    &__columns
      margin-left $column_left-width
    &__column
      &_left
        position fixed
        top $header-height
        left 0
        bottom 0
        width $column_left-width
        background white
        z-index $zindex-navbar
        &:before
          content ''
          position absolute
          top 0
          right 0
          bottom 0
          width 15px
          box-shadow 6px 0 12px rgba(black, 0.12)
          pointer-events none
          z-index -1
      &_center
        margin 0 auto
        background white
        .container-fluid
          padding-left 40px
          padding-right 40px
    &__column-scroll
      height 100%
      background white
    &__column-inner
      display flex
      flex-flow column
      min-height 100%
    &__column-footer
      flex-grow 1
      display flex
      flex-flow column

  @media (min-width $screen-lg-min)
    &__columns
      margin-right $column_left-width