.form-vacancy-feedback
  &__row
    &_2
      text-align center
      &_1
        margin-bottom 30px
      &_2
        margin-bottom 0
  @media (min-width $screen-sm-min)
    &__row
      &_1
        display flex
        &_1
          flex 1 1 auto
          margin-right 8px
        &_2
          flex 0 0 110px
          margin-left 8px
      &_2
        text-align left
        display flex
        align-items center
        &_1
          margin 0 30px 0 0
          overflow hidden
        &_2
          flex 1 1 auto
          display flex
          justify-content flex-end