.social
  display flex
  justify-content center
  flex-flow row wrap
  &__item
    display flex
    justify-content center
    align-items center
    color $text-color
    text-decoration none !important
    square 40px
    border-radius 50%
    margin 0 10px 20px
    border 2px solid
    font-size 12px
    &:hover, &:focus
      color $blue-1
    &.icon-vk
      font-size 11px
