-
  var voidHref = 'javascript:void(0)';

  var pages = {
    home: {title: 'List of pages', url: 'home.html'},
    index: {title: 'Главная', url: 'index.html'},
    about: {title: 'Кто мы', url: 'about.html'},
    rates: {title: 'Рейтинги', url: 'rates.html'},
    vacancies: {title: 'Вакансии', url: 'vacancies.html'},
    reviews: {title: 'Отзывы', url: 'reviews.html'},
    cases: {title: 'Кейсы', url: 'cases.html'},
    caseView: {title: 'Кейс', url: 'case-view.html'},
    services: {title: 'Услуги', url: 'services.html'},
    serviceView: {title: 'Услуга', url: 'service-view.html'},
    process: {title: 'Процесс', url: 'process.html'},
    clients: {title: 'Клиенты', url: 'clients.html'},
    blog: {title: 'Блог', url: 'blog.html'},
    blogView: {title: 'Блог Запись', url: 'blog-view.html'},
    contacts: {title: 'Контакты', url: 'contacts.html'},
    error404: {title: '404', url: '404.html'}
  };

  var modals = {
    vacancyFeedback: {title: 'Форма отправки резюме', url: 'popups/vacancy-feedback.html'}
  };